  <% @stations.each do |station| %>
    <h2><div>Name:  <%= station["station_name"] %></div></h2>
      <div>Fuel Type: <%= station["fuel_type_code"] %></div>
      <div>Station Address: <%= station["station_address"] %></div>
      <div>Distance: <%= station["distance"] %></div>
      <div>Time Open: <%= station["access_days_time"] %></div></br>
    <% end %>
